@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Reem+Kufi&display=swap");
:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Amiri", serif;
}
* body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
}
* body nav {
  background-color: #112B3C;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}
* body nav div.logo {
  color: snow;
  font-size: 30px;
}
* body nav div.logo span {
  color: #F66B0E;
}
* body nav div.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
* body nav div.list ul {
  margin-bottom: 0;
}
* body nav div.list ul li {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
}
* body nav div.list ul li:last-of-type {
  margin-left: 0;
  padding-left: 0;
}
* body nav div.list ul li a {
  text-decoration: none;
  color: snow;
}
* body nav div.list select {
  background: transparent;
  color: snow;
  border: none;
  cursor: pointer;
}
* body nav div.list select option {
  color: #F66B0E;
  background-color: #205375;
}
* body nav div.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
* body nav div.other button {
  background: transparent;
  color: white;
  border: 2px solid #F66B0E;
  padding: 7px 20px;
  border-radius: 5rem;
  cursor: pointer;
}
* body nav div.other div.lang svg {
  color: #f66e39;
  font-size: 20px;
  margin: 0 15px;
  cursor: pointer;
}
* body .slider {
  background-color: #205375;
  width: 100%;
  height: calc(100vh - 67px);
  color: snow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 71%, 0 100%, 0 100%, 0% 60%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 71%, 0 100%, 0 100%, 0% 60%, 0 0);
}
* body .slider h1 {
  font-size: 50px;
}
* body .slider h1 svg {
  margin-right: 10px;
  color: snow;
}
* body .slider h5 {
  background: #112B3C;
  padding: 10px 20px;
  margin-top: 30px;
}
* body .slider h5 span {
  color: #F66B0E;
}
* .container .latest-works {
  -webkit-box-shadow: 0 0 3px #122b3c;
          box-shadow: 0 0 3px #122b3c;
  position: relative;
  padding: 20px;
  margin-top: 50px;
}
* .container .latest-works h2 {
  position: absolute;
  height: 60px;
  top: -30px;
  line-height: 30px;
  color: white;
  padding: 20px;
  border-radius: 5rem;
  background: #122b3c;
  right: 45%;
}
* .container .latest-works .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}
* .join-us {
  margin-top: 50px;
  height: 500px;
  width: 100%;
  background-color: #205375;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
* .join-us h1 {
  color: snow;
}
* .join-us button {
  display: block;
  padding: 7px 20px;
  background: #205375;
  color: #f56938;
  border: 2px solid #f56938;
  border-radius: 5rem;
  margin-top: 30px;
  width: 20%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
* .join-us button:hover {
  background-color: #112B3C;
}
* .infoOn-theSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
* .infoOn-theSite .shareUr-work,
* .infoOn-theSite .our-team,
* .infoOn-theSite .reach-you,
* .infoOn-theSite .easy-use {
  border-left: 2px solid #205375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 200px;
}
* .infoOn-theSite .shareUr-work img,
* .infoOn-theSite .our-team img,
* .infoOn-theSite .reach-you img,
* .infoOn-theSite .easy-use img {
  width: 100px;
  height: 100px;
}
* .infoOn-theSite .shareUr-work h3,
* .infoOn-theSite .our-team h3,
* .infoOn-theSite .reach-you h3,
* .infoOn-theSite .easy-use h3 {
  margin-top: 20px;
}
* .infoOn-theSite .shareUr-work h3 span,
* .infoOn-theSite .our-team h3 span,
* .infoOn-theSite .reach-you h3 span,
* .infoOn-theSite .easy-use h3 span {
  color: #205375;
}
* .infoOn-theSite .shareUr-work p,
* .infoOn-theSite .our-team p,
* .infoOn-theSite .reach-you p,
* .infoOn-theSite .easy-use p {
  line-height: 2;
  color: #666666;
  font-style: italic;
  width: 80%;
}
* .users-opinions {
  margin-top: 50px;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #122b3c), color-stop(50%, #205375));
  background: linear-gradient(to left, #122b3c 50%, #205375 50%);
  padding: 20px 20px 40px 20px;
}
* .users-opinions h1 {
  color: white;
  padding: 50px 0;
  display: block;
  text-align: center;
}
* .users-opinions .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-right: 5%;
}
* .users-opinions .cards p.card-text {
  color: #666666;
}
* .users-opinions .cards ul:first-of-type {
  background: #112B3C;
}
* .users-opinions .cards ul:first-of-type li {
  width: 80%;
  margin-right: 10%;
  background: transparent;
}
* .users-opinions .cards ul:first-of-type li svg {
  color: #F66B0E;
}
* .users-opinions .cards .card-body a {
  text-decoration: none;
}
* .users-opinions .cards .card-body a:first-of-type {
  color: #112B3C;
}
* .users-opinions .cards .card-body a:last-of-type {
  color: #666666;
}
* .join {
  margin-top: 50px;
  width: 70%;
  margin-right: 15%;
}
* .join li {
  cursor: pointer;
}
* .join .card-body {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
* .join .card-body .sign-in {
  width: 100%;
}
* .join .card-body .sign-in h2 span {
  color: #F66B0E;
}
* .join .card-body .sign-in .input-group {
  width: 50%;
  margin: 0 auto;
}
* .join .card-body .sign-in .input-group label {
  border-radius: 0 3px 3px 0;
}
* .join .card-body .sign-in .input-group label svg {
  color: #205375;
}
* .join .card-body .sign-in .input-group input {
  border-radius: 3px 0 0 3px;
}
* .join .card-body .sign-in .form-check {
  width: 50%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
* .join .card-body .sign-in .form-check .form-check-label {
  margin-right: 30px;
}
* .join .card-body .sign-in button {
  position: relative;
  background: #205375;
}
* .join .card-body .sign-in button span {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 40px;
  height: 103%;
  background: #112B3C;
  color: snow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
* .join .card-body .sign-in button span::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: transparent #122b3c transparent transparent;
  left: -16px;
  top: 25%;
}
* .join .card-body .sign-in button label {
  margin-right: 40px;
}
* .join .card-body .sign-up {
  width: 70%;
  margin: 0 auto;
  display: none;
}
* .join .card-body .sign-up h2 span {
  color: #F66B0E;
}
* .join .card-body .sign-up .row .col label {
  text-align: start;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
* .join .card-body .sign-up .row .col input {
  margin-top: 15px;
  border: 1px solid #205375;
}
* .join .card-body .sign-up button {
  position: relative;
  background: #F66B0E;
  color: snow;
}
* .join .card-body .sign-up button span {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 40px;
  height: 103%;
  background: #112B3C;
  color: snow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
* .join .card-body .sign-up button span::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: transparent #122b3c transparent transparent;
  left: -16px;
  top: 25%;
}
* .join .card-body .sign-up button span svg {
  color: #F66B0E;
}
* .join .card-body .sign-up button label {
  margin-right: 40px;
}
* .join .card-body .reset-pass {
  display: none;
  width: 100%;
}
* .join .card-body .reset-pass h2 span {
  color: #F66B0E;
}
* .join .card-body .reset-pass .input-group {
  width: 70%;
  margin: 0 auto;
}
* .join .card-body .reset-pass .input-group input {
  border: 2px solid #F66B0E;
  border-radius: 5rem !important;
}
* .join .card-body .reset-pass .input-group button {
  border-radius: 5rem !important;
  border: none;
  background-color: #F66B0E;
  color: snow;
  margin-right: 10px;
}