$color-dark: #000000FF
$color-light: snow
$color-main: #205375
$color-global: #112B3C
$color-text: #F66B0E
$color-back: #f4f4f4

// font-family: 'Reem Kufi', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap')

// font-family: 'Amiri', serif;
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Reem+Kufi&display=swap')

:focus
  outline: none
*
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none
  font-family: 'Amiri', serif
  body
    background-color: $color-back
    width: 100%
    height: 100vh
    nav
      background-color: $color-global
      padding: 10px 0
      display: flex
      justify-content: space-between
      align-items: baseline
      width: 100%
      div.logo
        color: $color-light
        font-size: 30px
        span
          color: $color-text
      div.list
        display: flex
        justify-content: space-between
        align-items: baseline
        ul
          margin-bottom: 0
          li
            display: inline-block
            margin-left: 15px
            padding: 8px
            &:last-of-type
              margin-left: 0
              padding-left: 0
            a
              text-decoration: none
              color: $color-light
        select
          background: transparent
          color: $color-light
          border: none
          cursor: pointer
          option
            color: $color-text
            background-color: $color-main
      div.other
        display: flex
        justify-content: center
        align-items: center
        button
          background: transparent
          color: white
          border: 2px solid $color-text
          padding: 7px 20px
          border-radius: 5rem
          cursor: pointer
        div.lang
          svg
            color: #f66e39
            font-size: 20px
            margin: 0 15px
            cursor: pointer
    .slider
      background-color: $color-main
      width: 100%
      height: calc(100vh - 67px)
      color: $color-light
      display: flex
      justify-content: center
      align-items: center
      flex-flow: column
      clip-path: polygon(50% 0%, 100% 0, 100% 71%, 0 100%, 0 100%, 0% 60%, 0 0)
      h1
        font-size: 50px
        svg
          margin-right: 10px
          color: $color-light
      h5
        background: $color-global
        padding: 10px 20px
        margin-top: 30px
        span
          color: $color-text
  .container
    .latest-works
      box-shadow: 0 0 3px #122b3c
      position: relative
      padding: 20px
      margin-top: 50px
      h2
        position: absolute
        height: 60px
        top: -30px
        line-height: 30px
        color: white
        padding: 20px
        border-radius: 5rem
        background: #122b3c
        right: 45%
      .cards
        display: flex
        justify-content: space-around
        align-items: flex-start
        margin-top: 50px
    .join-us
