$color-dark: #000000FF
$color-light: snow
$color-main: #205375
$color-global: #112B3C
$color-text: #F66B0E
$color-back: #f4f4f4

// font-family: 'Reem Kufi', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap')

// font-family: 'Amiri', serif;
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Reem+Kufi&display=swap')

:focus
  outline: none
*
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none
  font-family: 'Amiri', serif
  body
    background-color: $color-back
    width: 100%
    height: 100vh
    nav
      background-color: $color-global
      padding: 10px 0
      display: flex
      justify-content: space-between
      align-items: baseline
      width: 100%
      div.logo
        color: $color-light
        font-size: 30px
        span
          color: $color-text
      div.list
        display: flex
        justify-content: space-between
        align-items: baseline
        ul
          margin-bottom: 0
          li
            display: inline-block
            margin-left: 15px
            padding: 8px
            &:last-of-type
              margin-left: 0
              padding-left: 0
            a
              text-decoration: none
              color: $color-light
        select
          background: transparent
          color: $color-light
          border: none
          cursor: pointer
          option
            color: $color-text
            background-color: $color-main
      div.other
        display: flex
        justify-content: center
        align-items: center
        button
          background: transparent
          color: white
          border: 2px solid $color-text
          padding: 7px 20px
          border-radius: 5rem
          cursor: pointer
        div.lang
          svg
            color: #f66e39
            font-size: 20px
            margin: 0 15px
            cursor: pointer
    .slider
      background-color: $color-main
      width: 100%
      height: calc(100vh - 67px)
      color: $color-light
      display: flex
      justify-content: center
      align-items: center
      flex-flow: column
      clip-path: polygon(50% 0%, 100% 0, 100% 71%, 0 100%, 0 100%, 0% 60%, 0 0)
      h1
        font-size: 50px
        svg
          margin-right: 10px
          color: $color-light
      h5
        background: $color-global
        padding: 10px 20px
        margin-top: 30px
        span
          color: $color-text
  .container
    .latest-works
      box-shadow: 0 0 3px #122b3c
      position: relative
      padding: 20px
      margin-top: 50px
      h2
        position: absolute
        height: 60px
        top: -30px
        line-height: 30px
        color: white
        padding: 20px
        border-radius: 5rem
        background: #122b3c
        right: 45%
      .cards
        display: flex
        justify-content: space-around
        align-items: flex-start
        margin-top: 50px
  .join-us
    margin-top: 50px
    height: 500px
    width: 100%
    background-color: #205375
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%)
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column
    h1
      color: $color-light
    button
      display: block
      padding: 7px 20px
      background: #205375
      color: #f56938
      border: 2px solid #f56938
      border-radius: 5rem
      margin-top: 30px
      width: 20%
      transition: all 0.3s linear
      &:hover
        background-color: $color-global
  .infoOn-theSite
    display: flex
    justify-content: space-around
    align-items: baseline
    .shareUr-work,
    .our-team,
    .reach-you,
    .easy-use
      border-left: 2px solid #205375
      display: flex
      justify-content: center
      align-items: center
      flex-flow: column
      min-height: 200px
      img
        width: 100px
        height: 100px
      h3
        margin-top: 20px
        span
          color: $color-main
      p
        line-height: 2
        color: #666666
        font-style: italic
        width: 80%
    .shareUr-work,
    .our-team
      border-left: 2px solid #205375
    .shareUr-work
      img
        width: 100px
        height: 100px
      h3
      p
        line-height: 2
        color: #666666
        font-style: italic
    .our-team
      img
        width: 100px
        height: 100px
      h3
      p
        line-height: 2
        color: #666666
        font-style: italic
    .reach-you
      img
        width: 100px
        height: 100px
      h3
      p
        line-height: 2
        color: #666666
        font-style: italic
  .users-opinions
    margin-top: 50px
    background: linear-gradient(to left, #122b3c 50%, #205375 50%)
    padding: 20px 20px 40px 20px
    h1
      color: white
      padding: 50px 0
      display: block
      text-align: center
    .cards
      display: flex
      justify-content: space-around
      width: 90%
      margin-right: 5%
      p.card-text
        color: #666666
      ul:first-of-type
        background: $color-global
        li
          width: 80%
          margin-right: 10%
          background: transparent
          svg
            color: $color-text
      .card-body
        a
          text-decoration: none
          &:first-of-type
            color: $color-global
          &:last-of-type
            color: #666666
  .join
    height: 50px
